.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 20px;
    padding-bottom: 150px;
}

.card_tittle_data_extend {
    width: 100%;
}